# Ігнорувати файли з секретними ключами та токенами
credentials.json
token.json

# Ігнорувати файли конфігурації локального середовища
.env

# Ігнорувати системні файли
.DS_Store
Thumbs.db

# Ігнорувати кеш та залежності Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/