# Ігнорувати файли з секретними ключами та токенами
credentials.json
token.json

# Ігнорувати файли конфігурації локального середовища
.env

# Ігнорувати системні файли
.DS_Store
Thumbs.db

# Ігнорувати кеш та залежності Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Додаткові ігнорування для логів, тимчасових файлів та зображень
*.log
*.txt
*.html.tmp
*.tmp
*.temp
*.bak
*.swp
*.swo
*.sublime-workspace
*.vscode/
*.idea/
mista_images/
16941.png
googlefaf41e4f900b147d.html
mista.txt
temp_index.html